<!DOCTYPE html>
<html>
  <head>
    <title>Notesapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <p id="notice"><%= notice %></p>
      <h1>
        <%= link_to root_path, class: "logo" do %>
          <i class='bx bx-edit-alt'></i>Notes
        <% end %>
      </h1>
      <%= yield %>
    </div>
  </body>
</html>
